<ion-header>
  <ion-toolbar class="top-bar">
    <div class="margin">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title class="">Perfil</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let character of characters">
      <ion-avatar slot="start">
        <img src="{{character.image}}" alt="">
      </ion-avatar>
      <ion-label>{{character.name}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>

  <ion-toolbar class="bot-bar">
    <div class="toolbar-buttons" style="display: flex; justify-content: center;">
        <ion-button routerLink="/calendario" style="--background: transparent;">
          <div class="divvvv" style="display: flex;">
            <img class="img-cal" src="assets/img/calendario.png">
          </div>
        </ion-button>
        <ion-button routerLink="/home" style="--background: transparent;">
          <div class="divvv" style="display: flex;">
            <img class="img-hom" src="assets/img/home.png">
          </div>
        </ion-button>
        <ion-button routerLink="/login" style="--background: transparent;">
          <div class="divvvv" style="display: flex;">
            <img class="img-sig" src="assets/img/sign-out.png">
          </div>
        </ion-button>
    </div>
    </ion-toolbar>
  
  </ion-footer>