.img-HM{
  clip-path: circle();
  width: 50px;
  margin-top: -5px;
  margin-bottom: -5px;
  background-color: rgb(137, 176, 250);
}

ion-header{
  box-shadow: none;
}

ion-menu-button{
  float: left;
}
.mensaje{
  justify-content: center;
}

.btn-perfil{
  --background: none;
  --border-color: transparent;
  --background-activated: none;
  float: right;
  --box-shadow: none;
  --border: none;
  margin-top: -10px;
  margin-bottom: -10px;
}

.img-Qr{
  margin-top: 20px;
  width: 250px;
}

.centrar{
  justify-content: center;
  margin-top: 11%;
  height: 100%;
}

.asd{
  color: lightgray;
}