<ion-header>
  <ion-toolbar color="primary">
    <div>
      <ion-button (click)="accionDelBoton()" class="btn-perfil">
        <ion-img src="assets/img/H1.svg" class="img-HM preubaa"></ion-img>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content> 
  <div class="menjase">
    <p>Bienvenido "{{mensaje}}".</p> 
  </div>
  <div class="ion-page" id="main-content">
      <ion-img src="assets/img/Qr.png" class="img-Qr"></ion-img>
  </div>
  <ion-button (click)="verStorage()">
    Ver datos
  </ion-button>
</ion-content>
